* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  position: relative;
}

body {
  overflow-y: auto;
  min-height: 100vh;
}
textarea:focus,
input:focus {
  outline: none;
}
a {
  color: inherit !important;
  text-decoration: none !important;
}
footer {
  background: #f1f1f1;
  width: 100%;
  padding: 0px 0px;
  color: #999;
  vertical-align: bottom;
  margin-top: 0px;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  /* width: 100%; */
  /* height: 2.5rem;   */
}

.banner {
  height: 500px;
  width: 100%;
  background: #999;
  margin: 20px 0px;
}

.content {
  padding: 20px 0px;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

/* ================================== */
/* Layout page CSS */
/* ================================== */

.tile {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  position: relative;
  height: 400px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  /* object-fit: cover; */

}

.tile img {
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  /* height: 75% ; */
  /* height: 400px; */
  height: 100%;
  /* width: 300px; */
  width: 100%;
  /* border-radius: 25px; */
  transition: all .2s;
  /* background-size: cover; */
  /* background-position: center; */
  object-fit: cover;
  overflow: hidden;
  
  

  
}
.tile img:hover {
  filter: brightness(70%);
  transform: scale(1.1);
  /* color: #000000;
  box-shadow: 0 0 4px #050505; */
  /* text-shadow: 0 0 15px #000000; */

  
  /* overflow: hidden; */
  /* TODO: MODULE_CARDS */
  /* 1. Fill in the required properties. */
  
}

/* Hint: Notice the position:absolute and z-index properties. */
/* Think about how those in relation to the existing "tile" classes. */
.tile-text {
  color: white;
  position: absolute;
  z-index: 1;
  text-transform: uppercase;
  letter-spacing: 2px;
  bottom: 0px;
  text-align: center;
  left: 0px;
  right: 0px;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("/assets/hero.jpg");

  /* TODO: MODULE_LAYOUT */
  /* 1. Set a specific height. */
  height: 60vh;
  /* width: 50vh; */
  background-position: center;
  background-size: cover;
  background-position-y: top;
  /* object-fit: contain; */
  /* object-fit: cover; */
  
  /* 2. Position and center the image to scale nicely on all screens. */
  

}

/* .hero-heading {
  font-size: 24px;
  font-weight: 100;
  justify-content: center;
} */

.hero-subheading {
  font-size: 24px;
  font-weight: 100;
  /* border-radius: 500px; */
  text-align: center;
  align-self: center;
  color: whitesmoke;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
  /* justify-content:end; */

}
.hero-input {
  width: 80%;
  height: 50px;
  padding: 16px;
  border-radius: 8px;
  border: none;
}

.nav-link {
  margin-right: 36px;
}

/* ================================== */
/* Adventures grid page CSS */
/* ================================== */




.adventure-card {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  /* height: 20rem; */
  /* width: 100%; */
  /* overflow: hidden;  */
  height: 300px;
  width: 100%;
  border-radius: 10px;
  border: solid 1px white;
  overflow: hidden;

}
.adventure-card img {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  height: 80%;
  width: 100%;
  transition: all 0.9s;

}
.adventure-card img:hover {
  /* TODO: MODULE_ADVENTURES_GRID */
  /* 1. Fill in the required properties. */
  filter: brightness(60%);
  transform: scale(1.1);
}

/* ================================== */
/* Adventure details page CSS */
/* ================================== */

.adventure-detail-card {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */

  
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.ool {
  /* height: 100%;
  width: 100%; */
  overflow: hidden;
  width: fit-content;
  height: 50%;
  width: 50%;
  /* position:relative; */

}
 .ol {
  /* height: 100%; */
 }


.adventure-card-image {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  border-radius: 2%;
  

  /* height: 0%; */
  /* height: px; */
  
}

.booking {
  border-color:#999;
  border-style:groove;
  /* border-radius:; */
  
}

.sold{
  /* text-align: center; */
  /* margin: 50%; */
  /* justify-content: center; */
}
.bold
{
font-weight:lighter;
}

.adventure-card-image:hover {
  /* TODO: MODULE_ADVENTURE_DETAILS */
  /* 1. Fill in the required properties. */
  /* transition: 500ms; */
  filter: brightness(80%);
  /* transform: inherit; */
  

}


/* span a:link{
  color: orange;
}

span a:active{
  color: orange;
}

.sold-out-banner a:visited{
  color: orange;
} */

 /* a:link{
  color: blue;
} */

.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}

@media  (min-width: 992px) {
  .sold-out-banner-text{
    position: fixed;
  }
}
/* 
.card {
  text-align: center; 
 background-color: #999;
 color: #000000;
  box-shadow: 0 0 1px #050505;
  text-shadow: 0 0 0px #000000; */
  /* overflow: hidden;*/
  /* position: absolute; */
/* }
.card:hover {
  filter: brightness(70%);
  transform: scale(1.1);
   overflow: hidden;  */
  /* position: absolute;  */
/* }  */

